<div class="row">
    <% @articles.each do |article| %>
            <%= render partial: "article", locals: { article:article }%>
            <% end %>
            <div class = "footer">
            <%= paginate(@articles) %>
            </div>
</div>